local.properties
/.idea
/.gradle
/build
/buildSrc
/presentation/release
/presentation/build
/data-remote/build
/data-local/build
/data/build
/domain/build
/core/build
/data-remote/src/main/kotlin/io/github/jisungbin/gitmessengerbot/data/secret/
