/.idea
/.gradle
/buildSrc
local.properties
/presentation/release
/presentation/build
/data-remote/build
/data-local/build
/domain/build
/build
/data-remote/src/main/kotlin/io/github/jisungbin/gitmessengerbot/data/secret/
