local.properties
/.idea
/.gradle
/build
/buildSrc/.gradle
/buildSrc/build
/presentation/release
/presentation/build
/data-github/build
/data-kaven/build
/domain-github/build
/domain-kaven/build
/core/build
/common/build
/app/build
/data-github/src/main/kotlin/io/github/jisungbin/gitmessengerbot/data/github/secret