<!--
  ~ GitMessengerBot © 2021 지성빈 & 구환. all rights reserved.
  ~ GitMessengerBot license is under the GPL-3.0.
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 21. 8. 13. 오후 7:27.
  ~
  ~ Please see: https://github.com/GitMessengerBot/GitMessengerBot-Android/blob/master/LICENSE.
  -->

<manifest package="io.github.sungbin.gitmessengerbot.core">

</manifest>